<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gurux.DLMS.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gurux.DLMS.UI.Properties.Settings>
            <setting name="ImageDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImageFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImageManualUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecurityKey" serializeAs="String">
                <value>D0D1D2D3D4D5D6D7D8D9DADBDCDDDEDF</value>
            </setting>
            <setting name="SecurityType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecurityKek" serializeAs="String">
                <value>47 75 72 75 78 30 30 30 47 75 72 75 78 31 32 33</value>
            </setting>
            <setting name="ProfileGenericStartTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProfileGenericEndTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProfileGenericIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProfileGenericCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SigningKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="Identification" serializeAs="String">
                <value/>
            </setting>
        </Gurux.DLMS.UI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
